{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Bug List</h2>
    <a href="{% url 'bug_create' %}" class="btn btn-primary">Report a Bug</a>
</div>
<div class="list-group mb-5">
    {% for project in projects  %}
        <a href="{{ project.url }}" class="list-group-item list-group-item-action" target="_blank">{{ project.name }}</a>
    {% endfor %}    
</div>
<div class="row">
    {% for bug in bugs %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ bug.title }}</h5>
                <p class="card-text">
                    Priority: 
                    <span class="badge bg-{{ bug.priority|lower }}">{{ bug.priority }}</span>
                    <br>
                    Status: <span class="badge bg-info">{{ bug.status }}</span>
                    <br>
                    Reported by: <strong>{{ bug.author }} </strong> for  {{ bug.project }}
                </p>
                <a href="{% url 'bug_detail' bug.id %}" class="btn btn-secondary">View Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
